.friend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.settings {
    color: aqua;
    padding-top: 10px;
    font-size: large;
}
.nav {
    grid-area: n;
    background-color: burlywood;
    color: white;
    padding: 20px;
};







